#map {
  position:absolute;
  left:0; top:0;
  width: auto;
  height: auto;
  margin:auto;
  overflow: hidden;
  background-color: #F4F0EC;
}

#map_data {
  float:left;
}

.throbber {
  float: right !important;
  margin-top: -20px !important;
}

#map_position {
  color: #222;
  padding: 5px 5px 5px 5px;
  font-size: .846em;
}

#map_bar {
  color: #222;
  background-color: #FFFDD0;
  z-index: 2000;
  position: absolute;
  top: 645px;
  float:left;
  min-width: 80px;
  min-height: 25px;
  
  -moz-border-bottom-right-radius: 30%;
  -moz-border-top-right-radius: 30%;
  -webkit-border-bottom-right-radius: 30%;
  -webkit-border-top-right-radius: 30%;
}

#map_viewport {
  left: 0px;
  top: 0px;
  position: relative;
}

