.section {
  margin: 0 !important;
}

#map {
  position:absolute;
  left:0; top:0;
  width: auto;
  height: auto;
  margin:auto;
  overflow: hidden;
}

#map_info {
  width: 768px;
  margin: auto;
  height: 100px;
  display:none;
}

#throbber {
  background-image: url(../throbber-big.gif);
  float: right;
  width: 66px; height: 66px;
  margin-top:17px; margin-right:10px;
  background-repeat: no-repeat;
}

#map_data {
  float:left;
}

#map_position {
  color: #222;
  background-color: #FFFDD0;
  z-index: 2000;
  position: absolute;
  top: 645px;
  left: 0px;
  padding-left: 3px;
  padding-right: 3px;
}

#map_viewport {
  left: 0px;
  top: 0px;
  position: relative;
}

